<h1 class="ui center aligned icon header">
  <i class="circular user icon"></i>
  <div class="content">
    Account
  </div>
</h1>

<div class="ui segment">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <h4 class="ui dividing header mt0">
      <i class="pencil icon"></i>
      Edit Information
    </h4>
    <%= f.error_notification %>
    <div class="field">
      <label for="first_name">Name</label>
      <div class="two fields">
        <%= f.input :first_name, label: false, placeholder: "First Name", required: false %>
        <%= f.input :last_name, label: false, placeholder: "Last Name", required: false %>
      </div>
    </div>
    <%= f.input :email, placeholder: "Email Address", required: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <div class="field">
      <label for="first_name">Change Password</label>
      <div class="two fields">
        <%= f.input :password, autocomplete: "off", label: false, placeholder: "New Password", required: false %>
        <%= f.input :password_confirmation, label: false, placeholder: "Confirm New Password", required: false %>
      </div>
    </div>

    <h4 class="ui dividing header">
      <i class="refresh icon"></i>
      Save Changes
    </h4>
    <%= f.input :current_password, placeholder: "Required To Save", required: true %>
    <%= f.button :submit, "Submit" %>
  <% end %>
</div>
