<h1 class="ui center aligned icon header">
  <i class="circular building icon"></i>
  <div class="content">
    Stores
  </div>
</h1>

<div class="extra float-container">
  <%= link_to new_store_path, class: "ui right floated labeled icon positive button" do %>
    <i class="plus icon"></i>
    Store
  <% end %>
</div>

<table class="ui celled table">
  <thead>
    <tr>
      <th>Store</th>
      <th>Orders</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @stores.each do |store| %>
      <tr>
        <td><%= link_to store.name, store %></td>
        <td><%= store.orders.count %></td>
        <td class="ui right aligned" colspan="2">
          <%= link_to store, class: "ui labeled icon button" do %>
            <i class="building icon"></i>
            View
          <% end %>
          <%= link_to store_orders_path(store), class: "ui labeled icon button" do %>
            <i class="unordered list icon"></i>
            Orders
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="extra float-container">
  <%= paginate @stores %>
</div>
