<div class="ui inverted vertical masthead center aligned segment">
  <div class="ui container">
    <div class="ui large secondary inverted pointing menu">
      <div class="hidden-xs-up">
        <a class="toc item">
          <i class="large sidebar icon"></i>
        </a>
        <a class="active item">Home</a>
        <a class="item">Demo</a>
      </div>
      <div class="right item">
        <%= link_to 'Log in', new_session_path(resource_name), class: 'ui inverted button' %>
        <%= link_to 'Sign up', new_registration_path(resource_name), class: 'ui primary button' %>
      </div>
    </div>
  </div>
  <div class="ui text container">
    <div class="ui small image mt3">
      <%= image_tag('logo/inverted-logo.png') %>
    </div>
    <h1 class="ui inverted header">
      OrdrHub
      <div class="sub header">All of Your Orders in One Place</div>
    </h1>
    <h2>Simplify your order management by consolidating orders from multiple ordering services into one single hub.</h2>
    <%= link_to new_registration_path(resource_name), class: 'ui huge primary right labeled icon button' do %>
    <i class="right arrow icon"></i>
      Get Started
    <% end %>
  </div>
</div>

<div class="ui vertical stripe segment">
  <div class="ui middle aligned stackable grid container">
    <div class="row">
      <div class="eight wide column">
        <h3 class="ui header">What is OrdrHub?</h3>
        <p>OrdrHub is a single application to manage all of your incoming orders across multiple ordering services. Simplify your staff's workflow today by using our intuitive platform that can be run on any existing device with access to a web browser.</p>
        <h3 class="ui header">Why OrdrHub?</h3>
        <p>Online ordering services are great for your business, but currently they each often require their own equipment causing incoming orders to be difficult to maintain. OrdrHub aggregates all of these orders into a simple-to-use platform so that you're spending your time efficiently.</p>
      </div>
      <div class="six wide right floated column">
        <%= image_tag 'ipad.png', class: 'ui big image' %>
      </div>
    </div>
    <div class="row">
      <div class="center aligned column">
        <a class="ui huge primary button">Set Up Now</a>
      </div>
    </div>
  </div>
</div>

<div class="ui vertical stripe quote segment">
  <div class="ui equal width stackable internally celled grid">
    <div class="center aligned row">
      <div class="column">
        <h3>"Tracking down orders from each service was such a hassle until we found OrdrHub!"</h3>
        <p>
          <img src="https://semantic-ui.com/images/avatar/small/jenny.jpg" class="ui avatar image">
          Annette P.
        </p>
      </div>
      <div class="column">
        <h3>"An absolute necessity to effectively manage online ordering in today's landscape."</h3>
        <p>
          <img src="https://semantic-ui.com/images/avatar/small/matt.jpg" class="ui avatar image">
          Kevin R.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="ui vertical stripe segment">
  <div class="ui text container">
    <h3 class="ui header">Can OrdrHub Handle My Business Needs?</h3>
    <p>Whether your business is one-of-a-kind or you're operating a nationwide chain, OrdrHub scales to your needs to effectively manage incoming orders for your store or organization.</p>
    <a class="ui large primary button">Prove It...</a>
    <h4 class="ui horizontal header divider">
      <a href="#">Pricing Plans</a>
    </h4>
    <h3 class="ui header">Pricing That Just Makes Sense</h3>
    <p>We understand that you're business operates on low margins and we've come up with straight forward pricing options that are as lean as possible to help you improve your bottom line.</p>
  </div>
</div>
