<h1 class="ui center aligned icon header">
  <i class="circular unordered list icon"></i>
  <div class="content">
    Orders
    <div class="sub header">
      <%= @store.name %>
    </div>
  </div>
</h1>

<div class="extra float-container">
  <div class="pull-left">
    <%= paginate @orders %>
    <% if params[:search] %>
      <div class="mt1">
        <%= link_to store_orders_path(@store, page: params[:page]), class: "ui left labeled icon button" do %>
          <i class="left arrow icon"></i>
          View All
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="pull-right">
    <%= form_tag store_orders_path(@store), class: 'ui form', method: :get do %>
      <div class="ui search">
        <div class="ui icon input">
          <%= text_field_tag(
            :search,
            params[:search],
            placeholder: 'Search...',
            'data-content' => 'Search by Order Number, Name, or Phone Number',
            'data-position' => 'top center'
          ) %>
          <i class="search icon"></i>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="ui segment <%= 'divided items orders' if @orders.any? %>">
  <div class="ui top attached primary label">
    Viewing Orders Received In Last 24hrs
  </div>
  <% if @orders.any? %>
    <% @orders.each do |order| %>
      <div class="item">
        <div class="image">
          <%= image_tag("sources/logos/#{order.source.name.downcase}.png", class: "ui centered middle aligned image", style: "width: 140px !important;") %>
        </div>
        <div class="content">
          <%= link_to "Order ##{order.number}", store_order_path(@store, order, page: params[:page]), class: "header" %>
          <div class="meta">
            <span class="cinema">
              <%= "#{order.details['date']} #{'•' if order.details['time'].present? } #{order.details['time']}" %>
            </span>
          </div>
          <div class="description">
            <p>
              Items: <%= order_items_count(order) %> | Subtotal: <%= order.details['grandTotal'] %>
            </p>
          </div>
          <div class="extra">
            <%= link_to order.details['confirmation_link'], class: "ui left floated right labeled icon positive button", target: "_blank" do %>
              <i class="right checkmark icon"></i>
              Confirm
            <% end %>
            <%= link_to store_order_path(@store, order, page: params[:page]), class: "ui right floated right labeled icon button" do %>
              <i class="right arrow icon"></i>
              View
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="ui red message text-center">
      <i class="large history icon mr0"></i> No orders received in the last 24 hours.
    </div>
  <% end %>
</div>

<div class="extra text-center">
  <%= paginate @orders %>
</div>
