<h1 class="ui center aligned icon header">
  <i class="circular unordered list icon"></i>
  <div class="content">
    Orders
    <div class="sub header">
      <%= @store.name %>
    </div>
  </div>
</h1>

<div class="ui segment divided items">
  <% @orders.each do |order| %>
    <div class="item">
      <div class="image">
        <%= image_tag("sources/logos/#{order.source.name.downcase}.png", class: "ui centered middle aligned image", style: "width: 80%;") %>
      </div>
      <div class="content">
        <%= link_to "Order ##{order.details['reference']}", store_order_path(@store, order), class: "header" %>
        <div class="meta">
          <span class="cinema">
            <%= "#{order.details['date']} #{order.details['time']}" %>
          </span>
        </div>
        <div class="description">
          <p>
            Items: UPDATE | Subtotal: <%= order.details['grandTotal'] %>
          </p>
        </div>
        <div class="extra">
          <%= link_to order.details['confirmation_link'], class: "ui left floated right labeled icon positive button" do %>
            <i class="right arrow checkmark"></i>
            Confirm
          <% end %>
          <%= link_to store_order_path(@store, order), class: "ui right floated right labeled icon button" do %>
            <i class="right arrow icon"></i>
            View
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="extra">
  <%= paginate @orders %>
</div>
