<h1 class="ui center aligned icon header">
  <i class="circular unordered list icon"></i>
  <div class="content">
    Orders
    <div class="sub header">
      <%= @store.name %>
    </div>
  </div>
</h1>

<div class="ui segment divided items">
  <% @orders.each do |order| %>
    <div class="item">
      <div class="image">
        <img src="https://semantic-ui.com/images/wireframe/image.png">
      </div>
      <div class="content">
        <%= link_to "Order ##{order.details['number']}", store_order_path(@store, order), class: "header" %>
        <div class="meta">
          <span class="cinema">
            <%= "#{order.details['delivery_date']} #{order.details['delivery_time']}" %>
          </span>
        </div>
        <div class="description">
          <p>
            Items: <%= order.items.count %> | Subtotal: <%= order.details['subtotal'] %>
          </p>
        </div>
        <div class="extra">
          <div class="ui buttons">
            <button class="ui negative button">Decline</button>
            <div class="or"></div>
            <button class="ui positive button">Confirm</button>
          </div>
          <%= link_to store_order_path(@store, order), class: "ui right floated right labeled icon button" do %>
            <i class="right arrow icon"></i>
            View
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="extra">
  <%= link_to stores_path, class: "ui labeled icon button" do %>
    <i class="left arrow icon"></i>
    Back
  <% end %>

  <%= paginate @orders %>
</div>
