<h1 class="ui center aligned icon header">
  <i class="circular barcode icon"></i>
  <div class="content">
    Order #<%= @order.details['reference'] %>
    <div class="sub header">
      <%= @store.name %>
    </div>
  </div>
</h1>

<div class="extra float-container mb1">
  <%= link_to store_orders_path(@store, page: params[:page]), class: "ui labeled icon button" do %>
    <i class="left arrow icon"></i>
    Orders
  <% end %>
  <%= link_to @order.details['confirmation_link'], class: "ui right floated right labeled icon positive button", target: "_blank" do %>
    <i class="right checkmark icon"></i>
    Confirm
  <% end %>
</div>

<table class="ui celled table">
  <%= render partial: "orders/#{@order.source.name.downcase}" %>
</table>
