<% set_meta_tags title: 'Log In' %>

<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui teal image header">
      <%= image_tag 'logo/inverted-logo.png', class: 'ui circular image' %>
      <div class="content">
        Log in to OrdrHub
      </div>
    </h2>
    <%= semantic_flash %>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="ui segment">
        <%= f.input :email, label: false, placeholder: 'Email', autofocus: true %>
        <%= f.input :password, label: false, placeholder: 'Password' %>
        <%= f.input :remember_me, as: :boolean, wrapper: :ui_checkbox if devise_mapping.rememberable? %>

        <%= f.button :submit, "Log in", class: "ui fluid large teal submit button" %>
      </div>
    <% end %>
    <div class="ui message">
      <!-- New to us? <%= link_to "Sign up", new_registration_path(resource_name) %> -->
      <%= link_to "Forgot your password?", new_password_path(resource_name) %>
    </div>
  </div>
</div>
