<h1 class="ui center aligned icon header">
  <i class="circular sitemap icon"></i>
  <div class="content">
    Organizations
  </div>
</h1>

<div class="extra float-container">
  <%= link_to new_organization_path, class: "ui right floated labeled icon positive button" do %>
    <i class="plus icon"></i>
    Organization
  <% end %>
</div>

<table class="ui celled table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Stores</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @organizations.each do |organization| %>
      <tr>
        <td><%= link_to organization.name, organization %></td>
        <td><%= organization.stores.count %></td>
        <td class="ui right aligned" colspan="2">
          <%= link_to organization, class: "ui labeled icon button" do %>
            <i class="cube icon"></i>
            View
          <% end %>
          <%= link_to stores_path, class: "ui labeled icon button" do %>
            <i class="building icon"></i>
            Stores
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
