<!DOCTYPE html>
<html>
  <head>
    <title>Orderup</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="ui inverted menu" style="border-radius: 0;">
      <div class="ui container">
        <a href="/" class="header item">
          <img class="logo" src="assets/images/logo.png">
          <i class="inverted food icon"></i>
          DeliveryDrop
        </a>
        <div class="ui right floated simple dropdown item">
          <%= user_signed_in? ? current_user.email : 'Welcome' %>
          <i class="dropdown icon"></i>
          <div class="menu">
            <% if user_signed_in? %>
              <%= link_to('Logout', destroy_user_session_path, class: 'item', method: :delete) %>
            <% else %>
              <%= link_to('Login', new_user_session_path, class: 'item') %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="ui main text container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
