<!DOCTYPE html>
<html>
  <head>
    <title>OrdrHub</title>
    <%= csrf_meta_tags %>
    <%= render partial: 'layouts/favicons' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="sticky-footer-body">
    <div class="ui inverted menu" style="border-radius: 0;">
      <div class="ui container">
        <a href="/" class="header item">
          <i class="inverted shipping large icon"></i>
          OrdrHub
        </a>
        <div class="ui right floated simple dropdown item">
          <%= user_signed_in? ? 'Test User' : 'Welcome' %>
          <i class="dropdown icon"></i>
          <div class="menu">
            <% if user_signed_in? %>
              <%= link_to('Logout', destroy_user_session_path, class: 'item', method: :delete) %>
            <% else %>
              <%= link_to('Login', new_user_session_path, class: 'item') %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="ui main text container sticky-footer-content">
      <%= semantic_breadcrumbs %>
      <div class="ui teal message transition <%= 'hidden' unless notice.present? %>">
        <i class="close icon"></i>
        <%= notice %>
      </div>
      <div class="ui orange message transition <%= 'hidden' unless alert.present? %>">
        <i class="close icon"></i>
        <%= alert %>
      </div>
      <%= yield %>
    </div>

    <div class="ui inverted vertical footer segment mt3">
      <div class="ui center aligned container">
        <div class="ui horizontal inverted small divided link list">
          <a class="item" href="#">Site Map</a>
          <a class="item" href="#">Contact Us</a>
          <a class="item" href="#">Terms and Conditions</a>
          <a class="item" href="#">Privacy Policy</a>
        </div>
      </div>
    </div>
  </body>
</html>
