<!DOCTYPE html>
<html>
  <head>
    <%= render partial: 'layouts/google_analytics' %>
    <%= display_meta_tags %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body class="sticky-footer-body">
    <div class="ui inverted menu" style="border-radius: 0;">
      <div class="ui container">
        <a href="/" class="header item">
          <%= image_tag 'logo/inverted-logo.png', class: 'ui mini image mr1' %>
          OrdrHub
        </a>
        <div class="ui right floated simple dropdown item">
          <span class="hidden-sm-down">
            <%= user_display_name %>
          </span>
          <span class="hidden-md-up">
            <i class="user icon"></i>
          </span>
          <i class="dropdown icon"></i>
          <div class="menu">
            <% if user_signed_in? %>
              <%= link_to('Logout', destroy_user_session_path, class: 'item', method: :delete) %>
            <% else %>
              <%= link_to('Login', new_user_session_path, class: 'item') %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="ui main text container sticky-footer-content">
      <div class="ui <%= current_user.organizations.present? ? 'three' : 'two' %> item menu">
        <% if current_user.organizations.present? %>
          <%= link_to organizations_path, class: "item #{'active' if menu_item_is_active?('organizations')}" do %>
            <span class="hidden-xs-down">Organizations</span>
            <span class="hidden-sm-up">
              <i class="sitemap icon"></i>
            </span>
          <% end %>
        <% end %>
        <%= link_to stores_path, class: "item #{'active' if menu_item_is_active?('stores')}" do %>
          <span class="hidden-xs-down">Stores</span>
          <span class="hidden-sm-up">
            <i class="building icon"></i>
          </span>
        <% end %>
        <%= link_to edit_registration_path(resource_name), class: "item #{'active' if menu_item_is_active?('registrations')}" do %>
          <span class="hidden-xs-down">Account</span>
          <span class="hidden-sm-up">
            <i class="user icon"></i>
          </span>
        <% end %>
      </div>
      <%= semantic_breadcrumbs %>
      <%= render partial: 'shared/flash_messages' %>
      <%= yield %>
    </div>

    <div class="ui inverted vertical footer segment mt3">
      <div class="ui center aligned container">
        <div class="ui horizontal inverted small divided link list">
          <a class="item" href="mailto:ordrhub@gmail.com">Contact Us</a>
          <a class="item" href="#">Terms &amp; Conditions</a>
          <a class="item" href="/privacy_policy">Privacy Policy</a>
          <a class="item" href="#">Site Map</a>
        </div>
      </div>
    </div>
  </body>
</html>
