<!DOCTYPE html>
<html>
  <head>
    <%= render partial: 'layouts/google_analytics' %>
    <title>OrdrHub</title>
    <%= csrf_meta_tags %>
    <%= render partial: 'layouts/favicons' %>
    <meta name="turbolinks-cache-control" content="no-cache">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <style type="text/css">
      .hidden.menu {
        display: none;
      }

      .masthead.segment {
        min-height: 600px;
        padding: 1em 0em 3em;
      }
      .masthead .logo.item img {
        margin-right: 1em;
      }
      .masthead .ui.menu .ui.button {
        margin-left: 0.5em;
      }
      .masthead h1.ui.header {
        margin-top: 0em;
        margin-bottom: 0em;
        font-size: 4em;
        font-weight: normal;
      }
      .masthead h2 {
        font-size: 1.5em;
        font-weight: normal;
        margin: 1.5em 0;
      }

      .ui.vertical.stripe {
        padding: 8em 0em;
      }
      .ui.vertical.stripe h3 {
        font-size: 2em;
      }
      .ui.vertical.stripe .button + h3,
      .ui.vertical.stripe p + h3 {
        margin-top: 3em;
      }
      .ui.vertical.stripe .floated.image {
        clear: both;
      }
      .ui.vertical.stripe p {
        font-size: 1.33em;
      }
      .ui.vertical.stripe .horizontal.divider {
        margin: 3em 0em;
      }

      .quote.stripe.segment {
        padding: 0em;
      }
      .quote.stripe.segment .grid .column {
        padding-top: 5em;
        padding-bottom: 5em;
      }

      .footer.segment {
        padding: 5em 0em;
      }

      .secondary.pointing.menu .toc.item {
        display: none;
      }

      @media only screen and (max-width: 700px) {
        .ui.fixed.menu {
          display: none !important;
        }
        .secondary.pointing.menu .item,
        .secondary.pointing.menu .menu {
          display: none;
        }
        .secondary.pointing.menu .toc.item {
          display: block;
        }
        .masthead.segment {
          min-height: 350px;
        }
        .masthead h1.ui.header {
          font-size: 2em;
        }
        .masthead h2 {
          font-size: 1.2em;
        }
      }
    </style>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script>
      $(document).on('turbolinks:load', function() {
        // fix menu when passed
        $('.masthead').visibility({
          once: false,
          onBottomPassed: function() {
            $('.fixed.menu').transition('fade in');
          },
          onBottomPassedReverse: function() {
            $('.fixed.menu').transition('fade out');
          }
        });
        // create sidebar and attach to menu open
        $('.ui.sidebar').sidebar('attach events', '.toc.item');
      });
    </script>
  </head>

  <body class="pushable">
    <div class="ui large top fixed hidden menu">
      <div class="ui container">
        <a href="/" class="active item">
          <%= image_tag 'logo/logo.png', class: 'ui mini image mr1' %>
          OrdrHub
        </a>
        <div class="right menu">
          <div class="item">
            <%= link_to 'Log in', new_session_path(resource_name), class: 'ui button' %>
          </div>
          <div class="item">
            <%= link_to 'Sign up', new_registration_path(resource_name), class: 'ui primary button' %>
          </div>
        </div>
      </div>
    </div>

    <div class="ui vertical inverted sidebar menu">
      <a class="active item">Home</a>
      <a class="item">Demo</a>
      <%= link_to 'Log in', new_session_path(resource_name), class: 'item' %>
      <%= link_to 'Sign up', new_registration_path(resource_name), class: 'item' %>
    </div>

    <div class="pusher">
      <%= yield %>
      <div class="ui inverted vertical footer segment">
        <div class="ui container">
          <div class="ui stackable inverted divided equal height stackable grid">
            <div class="three wide column">
              <h4 class="ui inverted header">About</h4>
              <div class="ui inverted link list">
                <a href="mailto:ordrhub@gmail.com" class="item">Contact Us</a>
                <a href="#" class="item">Terms &amp; Conditions</a>
                <a href="/privacy_policy" class="item">Privacy Policy</a>
                <a href="#" class="item">Sitemap</a>
              </div>
            </div>
            <div class="three wide column">
              <h4 class="ui inverted header">Ordering Services</h4>
              <div class="ui inverted link list">
                <a href="#" class="item">GrubHub</a>
                <a href="#" class="item">UberEats</a>
                <a href="#" class="item">DoorDash</a>
                <a href="#" class="item">Eat24</a>
              </div>
            </div>
            <div class="seven wide column">
              <h4 class="ui inverted header">Footer Header</h4>
              <p>Extra space for a call to action inside the footer that could help re-engage users.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
